sudo: required

language: java

jdk:
  - oraclejdk8

services:
  - docker

before_script:
  - npm install -g grunt-cli
  - npm install -g bower
  - npm install -g tsd

script:
  - ./gradlew gruntDist
  - ./gradlew build
  - cd subprojects/com.toedter.chatty.server.boot
  - docker build -t kaitoedter/chatty .
  - docker login --email="$DOCKER_EMAIL" --username="$DOCKER_USERNAME" --password="$DOCKER_PASSWORD"
  - docker push kaitoedter/chatty
  - cd ../..

deploy:
  provider: heroku
  api_key:
    secure: T+25rIkOT1erceI6nJ7Y1hYASsnTuMDqEzLcJHNbmuaDXiaiyVs9RUnmWLCpEHz4bzvwlcojYWis2sFD0/Iu7ajZOwW9PtCH4uCE0ZwkHS/NlxPYbKDEpGW+BSDSildxdFU/9pGQgKy+wt5w6bslo8j17m5CK410htt6sAiS+tE=
  app: chatty42
  on:
    repo: toedter/chatty
