<div class="container">
    <h4>About</h4>
    <table class="table table-striped table-sm">
        <tr>
            <td>Author:</td>
            <td>Kai Tödter</td>
        </tr>
        <tr>
            <td>Version:</td>
            <td>{{version}}</td>
        </tr>
        <tr>
            <td>Timestamp:</td>
            <td>{{timestamp}}</td>
        </tr>
        <tr>
            <td>GitHub:</td>
            <td><a href="https://github.com/toedter/chatty">https://github.com/toedter/chatty</a>
            </td>
        </tr>
    </table>
</div>
