<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chatty</title>

    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="chatty.css" rel="stylesheet">
</head>

<body ng-app="chatty">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chatty</a>
        </div>
    </div>
</div>

<div class="container" ng-controller="MainController">

    <div class="chatty-template">
        <form class="form-inline" ng-submit="submitUser()">
            <div class="form-group">
                <input style="width:150px" type="text" class="form-control" ng-model="userId"
                       placeholder="Enter ID" ng-disabled="isConnected">
                <input style="width:150px" type="text" class="form-control" ng-model="userEmail"
                       placeholder="Enter email" ng-disabled="isConnected">
                <input style="width:150px" type="text" class="form-control" ng-model="userFullName"
                       placeholder="Enter full name" ng-disabled="isConnected">
                <button style="width:100px" id="connectButton" type="submit" class="btn btn-info">{{userButtonText}}
                </button>
            </div>
        </form>
        </br>
        <form class="form-inline" ng-submit="submitChatMessage()">
            <div class="form-group">
                <input style="width:458px" class="form-control" ng-model="chatMessage"
                       ng-disabled="!isConnected" placeholder="Enter chat message">
                <button style="width:100px" type="submit" ng-disabled="!isConnected" class="btn btn-success">Send
                </button>
                </br>
                </br>
                <div id="status" class="alert {{chatStatusType}}">{{chatStatus}}</div>
            </div>
        </form>

        <h3>MESSAGES</h3>
        <table class="table">
            <tr ng-repeat="message in chatMessages">
                <td style="text-align: left; width:5%">{{message.id}}</td>
                <td style="text-align: left; width:10%">{{message._embedded.author.id}}</td>
                <td style="text-align: left; width:85%">{{message.text}}</td>
            </tr>
        </table>
    </div>
</div>

<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../bower_components/angular/angular.min.js"></script>
<script src="../../../bower_components/angular-resource/angular-resource.min.js"></script>
<script src="../../../bower_components/atmosphere/atmosphere.js"></script>

<script src="../ts/chatty.js"></script>
<script src="../ts/model/ChatMessage.js"></script>
<script src="../ts/model/User.js"></script>
<script src="../ts/services/ChatMessageService.js"></script>
<script src="../ts/services/UserService.js"></script>
<script src="../ts/services/LogService.js"></script>
<script src="../ts/controllers/MainController.js"></script>

</body>
</html>
