body {
    padding-top: 50px;
}

.chatty-template {
    padding: 40px 15px;
    text-align: left;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
