<configuration debug='false'>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>test.log</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.toedter.chatty" level="DEBUG"/>
    <logger name="ch.qos" level="ERROR"/>
    <logger name="com" level="ERROR"/>
    <logger name="org" level="ERROR"/>

    <root>
        <level value="ERROR"/>

        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
